.headerHome {
    color: #FFFFFF;
    background-color: #110338;
    height: convertPXfromRem(212px) * 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: convertPXfromRem(120px) * 1rem;

        &__icon {
            width: convertPXfromRem(100px) * 1rem;
            height: convertPXfromRem(100px) * 1rem;
        }

        &__title {
            margin-left: convertPXfromRem(30px) * 1rem;
            font-size: convertPXfromRem(32px) * 1rem;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
        }
    }

    .signIn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: convertPXfromRem(196px) * 1rem;

        &__login {
            color: #FFFFFF;
            text-decoration: none;
            font-family: "Poppins", sans-serif;

            &:hover {
                text-decoration: underline;
                text-decoration-color: #1DA876;
                font-size: convertPXfromRem(18px) * 1rem;
            }
        }

        &__register {
            color: #FFFFFF;
            text-decoration: none;
            font-family: "Poppins", sans-serif;

            &:hover {
                text-decoration: underline;
                text-decoration-color: #1DA876;
                font-size: convertPXfromRem(18px) * 1rem;
            }
        }
    }
}

@media (max-width: 490px) {
    .headerHome {
        height: convertPXfromRem(82px) * 1rem;
        justify-content: space-between;

        .brand {
            margin: 0;
            margin-left: convertPXfromRem(19px) * 1rem;

            &__icon {
                width: convertPXfromRem(40px) * 1rem;
                height: convertPXfromRem(40px) * 1rem;
            }

            &__title {
                display: none;
            }
        }

        .signIn {
            width: convertPXfromRem(178px) * 1rem;
            margin-right: convertPXfromRem(31px) * 1rem;
        }
    }
}

@media (min-width: 491px) and (max-width: 767px) {
    .headerHome {
        height: convertPXfromRem(82px) * 1rem;
        justify-content: space-between;

        .brand {
            margin: 0;
            margin-left: convertPXfromRem(19px) * 1rem;

            &__icon {
                width: convertPXfromRem(40px) * 1rem;
                height: convertPXfromRem(40px) * 1rem;
            }

            &__title {
                display: none;
            }
        }

        .signIn {
            width: convertPXfromRem(178px) * 1rem;
            margin-right: convertPXfromRem(31px) * 1rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .headerHome {
        height: convertPXfromRem(82px) * 1rem;
        justify-content: space-between;

        .brand {
            margin: 0;
            margin-left: convertPXfromRem(19px) * 1rem;

            &__icon {
                width: convertPXfromRem(40px) * 1rem;
                height: convertPXfromRem(40px) * 1rem;
            }

            &__title {
                display: block;
                font-size: convertPXfromRem(20px) * 1rem;
                margin-left: convertPXfromRem(20px) * 1rem;
                ;
            }
        }

        .signIn {
            width: convertPXfromRem(178px) * 1rem;
            margin-right: convertPXfromRem(31px) * 1rem;
        }
    }
}